@use "src/styles/utilities/variables" as *;
@use "src/styles/utilities/mixins" as *;


.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7 );
  z-index: 101;
  overflow: hidden;
}



.cartModal_wrapper{
  position: fixed;
  height: 75%;
  width: 100%;
  bottom: -100%;
  background-color: $color-white;
  transform-origin: right bottom;
  transition: transform 0.3s ease-in-out;
  z-index: 102;

  &.modal_active {
    transform: translateY(-130%);
  }

  .close_button{
    position: absolute;
    left: 50%;
    bottom: 100%;
    background-color: $color-white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin-bottom: .75rem;

    & svg{
      font-size: 1.125rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom:1px solid rgb(241, 241, 241);

    svg{
      margin-right: 1rem;
      color: $color-primary;
    }

    p{
      color: $color-primary;
      font-size: 13px;
      font-weight: 700;
    }
  }

}


