// Colors
$color-primary: rgb(0, 158, 127);
$color-secondary: rgb(255, 179, 105);
$color-text: rgb(13, 17, 54);
$color-lighter: rgb(119, 121, 140);
$color-white: #fff;

// Border
$border-hard: 8px;
$border-soft: 4px;

// Screens
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

